html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox {
  background-color: blanchedalmond;
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
}

.mainBox > div {
  font-size: 24px;
  padding: 10px;
}
h2 {
  cursor: pointer;
  font-size: 24px;
}

#scroller {
  text-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: cadetblue;
  color: aliceblue;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.fav-music img {
  width: 560px;
  height: auto;
}
.fav-music a {
  padding-left: 170px;
  text-decoration: none;  /* 밑줄 제거 */
  color: black;  /* 기본 글씨 색상 검정 */
}

.fav-music a:hover {
  color: cadetblue;;  /* hover 시 글씨 색상 하얀색으로 */
}

